certifi==2021.10.8
charset-normalizer==2.0.12
ddddocr==1.4.3
distro==1.7.0
flatbuffers==2.0
idna==3.3
numpy==1.19.5
onnxruntime==1.10.0
opencv-python==4.4.0.44
packaging==21.3
Pillow==8.4.0
protobuf==3.19.4
psutil==5.8.0
pyparsing==3.0.7
pyzmq==22.3.0
requests==2.27.1
scikit-build==0.14.1
selenium==3.141.0
urllib3==1.26.9
wincertstore==0.2